* {
    border: 1px dotted red;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

#portrait {
    max-width: 100%;
}

#portrait img {
    width: 300px;
    height: auto;
}

