#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50%;
    margin-bottom: 50%;
}

#construction {
    color: rgba(37, 35, 35, 1);
    font-size: 5rem !important;
}

@media only screen and (max-device-width: 430px) and (orientation: portrait) {
    .nav-option {
        padding: 20px 0;
    }

    #nav-button {
        top: 338px;
        padding: 20px 0;
    }

}