* {
    border: 1px dotted red;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

#portrait {
    max-width: 100%;
}

#portrait img {
    width: 300px;
    height: auto;
}

