/*  
SCSS RGB
$raisin-black: rgba(37, 35, 35, 1);
$slate-gray: rgba(112, 121, 140, 1);
$isabelline: rgba(245, 241, 237, 1);
$bone: rgba(218, 210, 188, 1);
$khaki: rgba(169, 153, 133, 1);
*/

* {
    /*border: 1px dotted red;*/
    font-family: 'Roboto', sans-serif;
    color: rgba(37, 35, 35, 1);
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgba(245, 241, 237, 1);
}

body {
    background: rgba(245, 241, 237, 1);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
}

nav {
    background-color: rgba(37, 35, 35, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


#logo a {
    /*font-family: 'Borel', cursive;*/
    color: rgba(245, 241, 237, 1);
    font-size: 1.5rem;
}

#nav-options {
    list-style-type: none;
}

.nav-option {
    display: inline-block;
    margin: 0 5px;
}

.nav-option a {
    color: rgba(245, 241, 237, 1);
    padding: 17px;
}

.nav-option a:hover {
    color: rgba(37, 35, 35, 1);
    background-color: rgba(218, 210, 188, 1);
}

button {
    background-color: rgba(218, 210, 188, 1);
    border-radius: 15px;
    padding: 5px 20px;
}


#hero-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#portrait {
    max-width: 100%;
}

#portrait img {
    width: 300px;
    height: auto;
}

#project-container {
    padding: 20px;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    display: inline-block;
}

@media only screen and (max-device-width: 430px) and (orientation: portrait) {
    * {
        font-size: 1.25rem;
    }

    #hero-container {
        flex-direction: column-reverse;
    }
}
